{% extends '../components/base.html' %}

{% block title %}Editar Proyecto{% endblock %}

{% block template %}
    {% include '../components/navbar.html' %}
    
    {% if not user.is_authenticated %}
        <div class="container mt-5 text-center">
            <p class="text-center">Debes iniciar sesión para editar un proyecto.</p>
            <p class="text-center"><a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a></p>
        </div>
    {% else %}
        <div class="container my-4 text-center card p-4 shadow-sm col-8">
            <h1 class="text-center mb-4">Editar Proyecto</h1>
            <form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm text-center">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    {% endif %}
    
    {% include '../components/footer.html' %}
{% endblock %}