{% load dict_filters %}
<h2>Proyectos Disponibles</h2>

{% if proyectos %}
<ul>
    {% for proyecto in proyectos %}
    <li>
        <strong>{{ proyecto.title }}</strong> - {{ proyecto.location }}<br>
        <p>{{ proyecto.description }}</p>
    Estado: {% if proyecto.status == 'activo' %}Activo{% else %}Inactivo{% endif %}<br>
        Fecha de Inicio: {{ proyecto.start_date }}<br>
        Fecha de Fin: {{ proyecto.end_date }}<br>

        {% if user.is_authenticated %}
            {% if user.role == 'organizacion' %}
                <a href="{% url 'editar_proyecto' proyecto.id %}">Editar</a>
                <a href="{% url 'listar_postulaciones' proyecto.id %}">Ver Inscripciones</a>
                <form method="post" action="{% url 'cambiar_estado_proyecto' proyecto.id %}" style="display:inline;">
                    {% csrf_token %}
                    {% if proyecto.status == 'activo' %}
                        <button type="submit" name="estado" value="inactivo" class="btn btn-outline-secondary btn-sm" style="margin-left:8px;">Marcar como inactivo</button>
                    {% else %}
                        <button type="submit" name="estado" value="activo" class="btn btn-outline-success btn-sm" style="margin-left:8px;">Marcar como activo</button>
                    {% endif %}
                </form>
            {% endif %}
            {% if user.role == 'voluntario' %}

                <!-- Verificar si el proyecto esta activo -->
                {% if proyecto.status == 'activo' %}
             
                    <!-- Verificar si el voluntario ya se ha inscrito en el proyecto -->
                    {% if proyecto.id in postulados %}
                        <span>Ya te has postulado a este proyecto:</span>

                        <!-- Mostrar opciones de edición o cancelación si la postulación está pendiente -->
                        {% with postulacion=postulaciones_por_proyecto|dict_get:proyecto.id %}
                        {% if postulacion.status == 'pendiente' %}
                            <a href="{% url 'editar_postulacion' postulacion.id %}">Editar Postulación</a>
                            <a href="{% url 'cancelar_postulacion' postulacion.id %}">Cancelar Postulación</a>
                        {% elif postulacion.status == 'aceptada' %}
                            <span>APROBADA.</span>
                        {% elif postulacion.status == 'rechazada' %}
                            <span>RECHAZADA.</span>
                        {% endif %}
                        {% endwith %}

            
                    {% else %}
                    <a href="{% url 'crear_postulacion' proyecto.id %}">Inscribirse</a>
                    {% endif %}
                {% else %}
                {% endif %}
            {% endif %}
        {% endif %}
        <a href="{% url 'detalle_proyecto' proyecto.id %}">Ver Detalles</a>
    </li>
    <hr>
    {% endfor %}
</ul>
{% else %}
<p>No hay proyectos disponibles.</p>
{% endif %}