{% extends '../components/base.html' %}

{% block title %}
    - Dashboard Voluntario
{% endblock %}


{% block template %}
    {% include '../components/navbar.html' %}

    <h1>Bienvenido al Dashboard del Voluntario: {{ user.username }}</h1>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    <h2>Mis Postulaciones</h2>
    
    {% if user.is_authenticated and user.role == 'voluntario' %}
        <a href="{% url 'listar_postulaciones_voluntario' %}">Ver Mis Postulaciones</a>
    {% endif %}


<div class="container">
    <div class="row">
        <!-- CARGAR LOS PROYECTOS EN ESTE CONTENEDOR -->
        <div class="col-12 col-lg-8">
            {% include '../proyectos/listar_proyectos.html' %}
        </div>
        <div class="d-none d-lg-block col-4">b</div>
    </div>
</div>

{% endblock %}

