{% extends '../components/base.html' %}

{% block title %}
    - Página de Inicio
{% endblock %}


{% block template %}
    {% include '../components/navbar.html' %}
    {% include '../components/splash.html' %}

<div class="container">
    <div class="row">
        <!-- CARGAR LOS PROYECTOS EN ESTE CONTENEDOR -->
         <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="proyectos-grid">
                {% include 'proyectos/listar_proyectos.html' %}
            </div>
         </div>
        
        <div class="d-none d-lg-block col-4">Seccion para tags</div>
    </div>
</div>

{% endblock %}