{% extends '../components/base.html' %}
{% load widget_tweaks %}
{% block title %}Restablecer contraseña{% endblock %}
{% block template %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card p-4 shadow-lg rounded-4 border-0">
        <h2 class="fw-bold mb-4 text-center">Restablecer contraseña</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.email.label_tag }}
          {{ form.email|add_class:'form-control mb-3' }}
          <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Enviar instrucciones</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
